<p>
	<h1><%= @recipe.name %></h1>
</p>

<div class="row">
	<div class="col-md-4 pull-right center">
		<%= gravatar_for @recipe.chef, size: 200 %>
		<p>
			<h5>Brough to you by <%= @recipe.chef.chefname %></h5>
		</p>
	</div>
	<div class="col-md-8">
		<h2><%= @recipe.summary %></h2>
		<div class="well">
			<p>
				<strong>Steps :</strong>
			</p>
			<%= @recipe.description %>
		</div>
	</div>
</div>

<%= link_to 'Return to Recipes Listings', recipes_path,class: "btn btn-warning 	btn-small"%>